<div class="container">
  <div class="row">
      <div class="col-12">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      
                    <div class="row">
                      <div class="col-lg-6 col-xl-3 col-md-6">
                        <div class="card rounded-card user-card">
                          <div class="card-block">
                            <div class="img-hover">
                              <img class="img-fluid img-radius" src="assets/images/user-card/img-round2.jpg" alt="round-img">
                              <div class="img-overlay img-radius">
                                <span>
                                  <a href="#" class="btn btn-sm btn-primary" data-popup="lightbox"><i
                                      class="icofont icofont-plus"></i></a>
                                  <a href="" class="btn btn-sm btn-primary"><i class="icofont icofont-link-alt"></i></a>
                                </span>
                              </div>
                            </div>
                            <div class="user-content">
                              <h4 class="">Howard Hatfield</h4>
                              <p class="m-b-0 text-muted">UX/UI designer</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-xl-3 col-md-6">
                        <div class="card rounded-card user-card">
                          <div class="card-block">
                            <div class="img-hover">
                              <img class="img-fluid img-radius" src="assets/images/user-card/img-round3.jpg" alt="round-img">
                              <div class="img-overlay img-radius">
                                <span>
                                  <a href="#" class="btn btn-sm btn-primary" data-popup="lightbox"><i
                                      class="icofont icofont-plus"></i></a>
                                  <a href="" class="btn btn-sm btn-primary"><i class="icofont icofont-link-alt"></i></a>
                                </span>
                              </div>
                            </div>
                            <div class="user-content">
                              <h4 class="">Jenette Caldwell</h4>
                              <p class="m-b-0 text-muted">SEO specialist</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-xl-3 col-md-6">
                        <div class="card rounded-card user-card">
                          <div class="card-block">
                            <div class="img-hover">
                              <img class="img-fluid img-radius" src="assets/images/user-card/img-round4.jpg" alt="round-img">
                              <div class="img-overlay img-radius">
                                <span>
                                  <a href="#" class="btn btn-sm btn-primary" data-popup="lightbox"><i
                                      class="icofont icofont-plus"></i></a>
                                  <a href="" class="btn btn-sm btn-primary"><i class="icofont icofont-link-alt"></i></a>
                                </span>
                              </div>
                            </div>
                            <div class="user-content">
                              <h4 class="">Hermione Butler</h4>
                              <p class="m-b-0 text-muted">Chief officer</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                  <div class="carousel-item">
                      
                    
                    <div class="row">
                      <div class="col-lg-6 col-xl-3 col-md-6">
                        <div class="card rounded-card user-card">
                          <div class="card-block">
                            <div class="img-hover">
                              <img class="img-fluid img-radius" src="assets/images/user-card/img-round2.jpg" alt="round-img">
                              <div class="img-overlay img-radius">
                                <span>
                                  <a href="#" class="btn btn-sm btn-primary" data-popup="lightbox"><i
                                      class="icofont icofont-plus"></i></a>
                                  <a href="" class="btn btn-sm btn-primary"><i class="icofont icofont-link-alt"></i></a>
                                </span>
                              </div>
                            </div>
                            <div class="user-content">
                              <h4 class="">Howard Hatfield</h4>
                              <p class="m-b-0 text-muted">UX/UI designer</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-xl-3 col-md-6">
                        <div class="card rounded-card user-card">
                          <div class="card-block">
                            <div class="img-hover">
                              <img class="img-fluid img-radius" src="assets/images/user-card/img-round3.jpg" alt="round-img">
                              <div class="img-overlay img-radius">
                                <span>
                                  <a href="#" class="btn btn-sm btn-primary" data-popup="lightbox"><i
                                      class="icofont icofont-plus"></i></a>
                                  <a href="" class="btn btn-sm btn-primary"><i class="icofont icofont-link-alt"></i></a>
                                </span>
                              </div>
                            </div>
                            <div class="user-content">
                              <h4 class="">Jenette Caldwell</h4>
                              <p class="m-b-0 text-muted">SEO specialist</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-xl-3 col-md-6">
                        <div class="card rounded-card user-card">
                          <div class="card-block">
                            <div class="img-hover">
                              <img class="img-fluid img-radius" src="assets/images/user-card/img-round4.jpg" alt="round-img">
                              <div class="img-overlay img-radius">
                                <span>
                                  <a href="#" class="btn btn-sm btn-primary" data-popup="lightbox"><i
                                      class="icofont icofont-plus"></i></a>
                                  <a href="" class="btn btn-sm btn-primary"><i class="icofont icofont-link-alt"></i></a>
                                </span>
                              </div>
                            </div>
                            <div class="user-content">
                              <h4 class="">Hermione Butler</h4>
                              <p class="m-b-0 text-muted">Chief officer</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                  <div class="carousel-item">
                    
                    
                    <div class="row">
                      
                      <div class="col-lg-6 col-xl-3 col-md-6">
                        <div class="card rounded-card user-card">
                          <div class="card-block">
                            <div class="img-hover">
                              <img class="img-fluid img-radius" src="assets/images/user-card/img-round3.jpg" alt="round-img">
                              <div class="img-overlay img-radius">
                                <span>
                                  <a href="#" class="btn btn-sm btn-primary" data-popup="lightbox"><i
                                      class="icofont icofont-plus"></i></a>
                                  <a href="" class="btn btn-sm btn-primary"><i class="icofont icofont-link-alt"></i></a>
                                </span>
                              </div>
                            </div>
                            <div class="user-content">
                              <h4 class="">Jenette Caldwell</h4>
                              <p class="m-b-0 text-muted">SEO specialist</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-xl-3 col-md-6">
                        <div class="card rounded-card user-card">
                          <div class="card-block">
                            <div class="img-hover">
                              <img class="img-fluid img-radius" src="assets/images/user-card/img-round2.jpg" alt="round-img">
                              <div class="img-overlay img-radius">
                                <span>
                                  <a href="#" class="btn btn-sm btn-primary" data-popup="lightbox"><i
                                      class="icofont icofont-plus"></i></a>
                                  <a href="" class="btn btn-sm btn-primary"><i class="icofont icofont-link-alt"></i></a>
                                </span>
                              </div>
                            </div>
                            <div class="user-content">
                              <h4 class="">Howard Hatfield</h4>
                              <p class="m-b-0 text-muted">UX/UI designer</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-xl-3 col-md-6">
                        <div class="card rounded-card user-card">
                          <div class="card-block">
                            <div class="img-hover">
                              <img class="img-fluid img-radius" src="assets/images/user-card/img-round4.jpg" alt="round-img">
                              <div class="img-overlay img-radius">
                                <span>
                                  <a href="#" class="btn btn-sm btn-primary" data-popup="lightbox"><i
                                      class="icofont icofont-plus"></i></a>
                                  <a href="" class="btn btn-sm btn-primary"><i class="icofont icofont-link-alt"></i></a>
                                </span>
                              </div>
                            </div>
                            <div class="user-content">
                              <h4 class="">Hermione Butler</h4>
                              <p class="m-b-0 text-muted">Chief officer</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              
          </div>

      </div>

      <div class="col-12 mt-5 text-center">
        <a class="btn btn-light btn-info" href="#carouselExampleControls" role="button" data-slide="prev">
          <i class="controls class-fade"><<</i>
        </a>
        <a class="btn btn-light btn-info" href="#carouselExampleControls" role="button" data-slide="next">
          <i class="controls class-active">>></i>
        </a>
      </div>
    </div>
</div>


<!-- <div class="col-lg-6 col-xl-3 col-md-6">
    <div class="card rounded-card user-card">
      <div class="card-block">
        <div class="img-hover">
          <img class="img-fluid img-radius" src="assets/images/user-card/img-round1.jpg" alt="round-img">
          <div class="img-overlay img-radius">
            <span>
              <a href="#" class="btn btn-sm btn-primary" data-popup="lightbox"><i
                  class="icofont icofont-plus"></i></a>
              <a href="" class="btn btn-sm btn-primary"><i class="icofont icofont-link-alt"></i></a>
            </span>
          </div>
        </div>
        <div class="user-content">
          <h4 class="">Cedric Kelly</h4>
          <p class="m-b-0 text-muted">Network engineer</p>
        </div>
        <ul class="icons-list mt-15">
          <li><a href="#" data-popup="tooltip" data-original-title="Google Drive"><i
                class="icon-google-drive"></i></a></li>
          <li><a href="#" data-popup="tooltip" data-original-title="Twitter"><i class="icon-twitter"></i></a></li>
          <li><a href="#" data-popup="tooltip" data-original-title="Github"><i class="icon-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-3 col-md-6">
    <div class="card rounded-card user-card">
      <div class="card-block">
        <div class="img-hover">
          <img class="img-fluid img-radius" src="assets/images/user-card/img-round2.jpg" alt="round-img">
          <div class="img-overlay img-radius">
            <span>
              <a href="#" class="btn btn-sm btn-primary" data-popup="lightbox"><i
                  class="icofont icofont-plus"></i></a>
              <a href="" class="btn btn-sm btn-primary"><i class="icofont icofont-link-alt"></i></a>
            </span>
          </div>
        </div>
        <div class="user-content">
          <h4 class="">Howard Hatfield</h4>
          <p class="m-b-0 text-muted">UX/UI designer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-3 col-md-6">
    <div class="card rounded-card user-card">
      <div class="card-block">
        <div class="img-hover">
          <img class="img-fluid img-radius" src="assets/images/user-card/img-round3.jpg" alt="round-img">
          <div class="img-overlay img-radius">
            <span>
              <a href="#" class="btn btn-sm btn-primary" data-popup="lightbox"><i
                  class="icofont icofont-plus"></i></a>
              <a href="" class="btn btn-sm btn-primary"><i class="icofont icofont-link-alt"></i></a>
            </span>
          </div>
        </div>
        <div class="user-content">
          <h4 class="">Jenette Caldwell</h4>
          <p class="m-b-0 text-muted">SEO specialist</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-3 col-md-6">
    <div class="card rounded-card user-card">
      <div class="card-block">
        <div class="img-hover">
          <img class="img-fluid img-radius" src="assets/images/user-card/img-round4.jpg" alt="round-img">
          <div class="img-overlay img-radius">
            <span>
              <a href="#" class="btn btn-sm btn-primary" data-popup="lightbox"><i
                  class="icofont icofont-plus"></i></a>
              <a href="" class="btn btn-sm btn-primary"><i class="icofont icofont-link-alt"></i></a>
            </span>
          </div>
        </div>
        <div class="user-content">
          <h4 class="">Hermione Butler</h4>
          <p class="m-b-0 text-muted">Chief officer</p>
        </div>
      </div>
    </div>
  </div> -->