<!--Loading-->
<div class="row col-md-12 mb-5">
    <div class="col md-5">
    </div>
    <div class="col md-7">
        <span *ngIf="loadEmprunt === true" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </div>
</div>
<!--Loading-->
<div class="row" *ngIf="loadEmprunt === false">
    <div class="col-sm-12">
        <!-- Tooltip Validation card start -->
        <!--<app-card [title]="'Enregistrement des emprunts'" [headerContent]="'Formulaire d\'enregistrement des emprunts'">
            <form [formGroup]="abonnementForm" (ngSubmit)="submitAction()">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><strong>Nom :</strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control tooltip-form" id="libelle" formControlName="libelle" name="libelle" placeholder="Entrez le libelle  ">
                        <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="Le libelle ne peut être vide." *ngIf="abonnementForm.controls.libelle.errors?.required"><i class="text-danger icofont icofont-close-circled"></i></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><strong>Période en semaine :</strong></label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control tooltip-form" id="periode" formControlName="periode" min="1" name="periode" placeholder="Entrez le periode">
                        <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="La période ne peut être vide." *ngIf="abonnementForm.controls.periode.errors?.required"><i class="text-danger icofont icofont-close-circled"></i></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><strong>Prix en euro :</strong></label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control tooltip-form" id="prix" formControlName="prix" name="prix" placeholder="Entrez le prix  ">
                        <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="Le prix ne peut être vide." *ngIf="abonnementForm.controls.prix.errors?.required"><i class="text-danger icofont icofont-close-circled"></i></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><strong>Description :</strong></label>
                    <div class="col-sm-10">
                        <textarea class="form-control tooltip-form" name="description" formControlName="description" id="description" cols="30" rows="2" placeholder="Entrez la description"></textarea>
                        <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="La description ne peut être vide." *ngIf="abonnementForm.controls.description.errors?.required"><i class="text-danger icofont icofont-close-circled"></i></div>
                    </div>
                </div>
                <div class="row col-sm-12">
                    <div [ngClass]="showCancelBtn === true?'col-sm-5':'col-sm-6'"></div>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-outline-primary btn-sm waves-effect f-w-600 d-inline-block m-b-0" [disabled]="!abonnementForm.valid">
                        <span *ngIf="createLoad === true"
                          class="spinner-border spinner-border-sm ml-2" role="status" aria-hidden="true">
                        </span>
                        <span *ngIf="updateLoad === true"
                          class="spinner-border spinner-border-sm ml-2" role="status" aria-hidden="true">
                        </span>
                        {{buttonAction}}
                      </button>
                        <button *ngIf="showCancelBtn === true  || abonnementForm.dirty" type="reset" class="btn btn-outline-danger btn-sm waves-effect f-w-600 d-inline-block m-b-0 ml-2" (click)="reset()">Annuler</button>
                    </div>
                </div>
            </form>
        </app-card>-->
        <!-- Tooltip Validation card end -->

        <!-- All emprunts Start-->
        <app-card [title]="'Tous les emprunts'" [headerContent]="'emprunts enregistrés'">
            <div class="dt-responsive" *ngIf="emprunts">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                        <div>
                            <label class="label-control">Afficher
                                <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                                    <option [ngValue]="10">10</option>
                                    <option [ngValue]="25">25</option>
                                    <option [ngValue]="50">50</option>
                                    <option [ngValue]="100">100</option>
                                </select>
                                entrées
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div style="text-align: right;">
                            <label>Rechercher:
                                <input type="search" [(ngModel)]="searchText"
                                    class="form-control input-sm full-data-search" placeholder="Rechercher ici">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered full-data-table" [mfData]="emprunts | filter:searchText" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr>
                                <!--<th>
                                    <mfDefaultSorter>Action</mfDefaultSorter>
                                </th>-->
                                <th>
                                    <mfDefaultSorter >ISBN Livre</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter >Lecteur</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter >Date Emprunt</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter >Date Retour Théorique</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter >Date Retour Effective</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter >Nombre Avertissements</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter >Avertir</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="!isEmpty">
                                <tr *ngFor="let item of mf.data | filter:searchText">
                                    <!--<td class="action-icon">
                                        <a href="javascript:;" class="m-r-15 crm-action-edit text-muted text-primary" (click)="fillFormBeforUpdating(item)"><i
                                            class="icofont icofont-ui-edit"></i></a>
                                        <a href="javascript:;" class="crm-action-delete text-muted text-danger" (click)="deleteAbonnement(item.idAbonnement)"><i
                                            class="icofont icofont-delete-alt"></i></a>
                                    </td>-->
                                    <td><label class="label label-primary">{{item.livre.isbn}}</label></td>
                                    <td>{{item.lecteur.nom}}</td>
                                    <td>{{item.empruntPK.dateEmprunt}}</td>
                                    <td>{{item?.dateRetourTheo}}</td>
                                    <td>{{item?.dateRetourEff || 'Pas encore rendu'}}</td>
                                    <td><label class="label label-inverse">{{item?.nbrAvertissement}}</label></td>
                                    <td>
                                        <button class="btn-danger btn-sm" *ngIf="!item.dateRetourEff; else renduBlock" (click)="avertirLecteur(item.livre.isbn,item.lecteur.idLecteur,item.empruntPK.dateEmprunt)">{{buttonAction}}</button>
                                        <ng-template #renduBlock>
                                            <button class="btn-success btn-sm">Rendu</button>
                                        </ng-template>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngIf="isEmpty">
                                <tr>
                                    <td colspan="7">
                                        <div class="card text-center mt-3">
                                            <p class="mt-5 mb-2 text-danger">Aucun enregistrement !</p><br>
                                            <p class="mb-5">
                                                <button type="button" class="btn btn-outline-secondary btn-sm waves-effect f-w-600 d-inline-block">
                                                    <i class="fa fa-refresh m-r-5"></i>rafraichir
                                                </button>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </app-card>
        <!-- All emprunts End -->
    </div>
</div>