<!-- Slider -->
<section class="slider-section">
	<div id="carousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel" data-slide-to="0" class="active"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
			<li data-target="#carousel" data-slide-to="2"></li>
			<li data-target="#carousel" data-slide-to="4"></li>
			<li data-target="#carousel" data-slide-to="5"></li>
		</ol> <!-- End of Indicators -->

		<!-- Carousel Content -->
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active" style="background-image: url('assets/images/livres_0.jpg');">
				<div class="carousel-caption d-none d-md-block">
					<h3>Plusieurs catégories</h3>
					<p>Cool description for Amazon Forest.</p>
				</div>
			</div> <!-- End of Carousel Item -->

			<div class="carousel-item" style="background-image: url('assets/images/Livres-quels-titres-ont-ete-les-plus-achetes-par-les-Francais-confines.jpg');">
				<div class="carousel-caption d-none d-md-block">
					<h3>Une panoplie de livres à votre disposition</h3>
					<p>Awesome description for bridge.</p>
				</div>
			</div> <!-- End of Carousel Item -->

			<div class="carousel-item" style="background-image: url('assets/images/format-de-livres.jpg');">
				<div class="carousel-caption d-none d-md-block">
					<h3>Une panoplie de livres à votre disposition</h3>
					<p>Beauty of Flowers & Grass.</p>
				</div>
			</div> <!-- End of Carousel Item -->

			<div class="carousel-item" style="background-image: url('assets/images/l-histoire-du-livre.jpg');">
				<div class="carousel-caption d-none d-md-block">
					<h3>Une panoplie de livres à votre disposition</h3>
					<p>Beauty of Flowers & Grass.</p>
				</div>
			</div> <!-- End of Carousel Item -->

			<div class="carousel-item" style="background-image: url('assets/images/arton429.jpg');">
				<div class="carousel-caption d-none d-md-block">
					<h3>Une panoplie de livres à votre disposition</h3>
					<p>Beauty of Flowers & Grass.</p>
				</div>
			</div> <!-- End of Carousel Item -->
		</div> <!-- End of Carousel Content -->

		<!-- Previous & Next -->
		<a href="#carousel" class="carousel-control-prev" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only"></span>
		</a>
		<a href="#carousel" class="carousel-control-next" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only"></span>
		</a>
	</div> <!-- End of Carousel -->
</section> <!-- End of Slider -->