i.text-danger.icofont.icofont-close-circled {
    margin-right: -14px;
}

/*.img-fluid {
    max-width: 60%;
    border-radius: 22px;
    float: left !important;
    height: auto;
}*/

.logo-img{
    max-width: 60%;
    border-radius: 22px;
    float: left !important;
    height: auto;
}

thead {
    background: #303549;
}

/*.card-body{
    border: 1px solid #303549;
}*/

.text-nowrap {
    color: white;
}

/*footer part begin*/
/*footer {
  background-color: #303549;
  color: rgba(255,255,255,0.7);
  padding: 8px;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 27px;
}*/
/*footer part end*/

/*Select 2*/
ng-select.ng-select > div > div.single {
    background-color: #303549;
    color: #fff;
    padding: 0px 30px 8px 20px;
    border-radius: 4px;
    height: auto;
}

.ng-select select-dropdown .highlighted {
    background-color: #303549;
}
/*Select 2*/